In [3]:
import pandas as pd
import os

In [10]:
root = 'tr-200_min-3_tsearch-12'
filepattern = 'tr-200_min-3_tsearch-12_0'

In [12]:
seqs = []
for i in range(1,16):
    seqs.append(pd.read_csv(os.path.join(root, filepattern + str(i).zfill(2) +'.csv')))

In [19]:
[seq.iti_TR.sum() for seq in seqs]

[200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200]

In [28]:
[seq.iti_TR.unique() for seq in seqs]

[array([ 4,  6,  3,  7,  5,  8,  9, 10]),
 array([3, 6, 4, 7, 8, 5]),
 array([3, 8, 4, 5, 7, 6, 9]),
 array([ 6,  3,  5, 10,  8,  4,  7,  9]),
 array([3, 4, 8, 6, 5, 7]),
 array([7, 6, 4, 3, 8, 5, 9]),
 array([3, 4, 5, 7, 8, 9, 6]),
 array([6, 3, 5, 7, 4, 9, 8]),
 array([3, 4, 6, 5, 8, 9, 7]),
 array([6, 8, 3, 7, 5, 4, 9]),
 array([3, 8, 5, 4, 7, 6, 9]),
 array([ 6,  3,  9,  8,  4,  5,  7, 10]),
 array([6, 3, 7, 8, 4, 5]),
 array([ 4,  5,  3,  7,  8,  6, 10,  9]),
 array([4, 6, 5, 8, 7, 3, 9])]

In [31]:
[seq.iti_TR.value_counts() for seq in seqs]

[3     13
 6      7
 4      6
 7      4
 5      3
 8      3
 9      2
 10     1
 Name: iti_TR, dtype: int64,
 3    12
 6     9
 4     6
 8     6
 7     4
 5     2
 Name: iti_TR, dtype: int64,
 4    11
 3     8
 5     6
 8     5
 7     5
 6     3
 9     1
 Name: iti_TR, dtype: int64,
 3     11
 6      8
 4      7
 5      5
 8      5
 10     1
 7      1
 9      1
 Name: iti_TR, dtype: int64,
 3    12
 8     8
 6     6
 5     6
 4     5
 7     2
 Name: iti_TR, dtype: int64,
 4    12
 3     8
 6     7
 8     6
 5     3
 7     2
 9     1
 Name: iti_TR, dtype: int64,
 3    10
 4    10
 8     7
 6     6
 5     3
 7     2
 9     1
 Name: iti_TR, dtype: int64,
 3    9
 4    9
 5    8
 7    4
 6    3
 9    3
 8    3
 Name: iti_TR, dtype: int64,
 3    10
 6     9
 5     8
 4     5
 8     3
 9     2
 7     2
 Name: iti_TR, dtype: int64,
 3    14
 8     6
 4     5
 6     4
 7     4
 5     4
 9     2
 Name: iti_TR, dtype: int64,
 3    15
 8     9
 4     5
 5     3
 7     3
 6     3
 9     1
 Name: iti_TR, dtype: int64,
 3     12
 4      6
 5      6
 6      5
 7      4
 8      3
 9      2
 10     1
 Name: iti_TR, dtype: int64,
 3    10
 6     7
 7     6
 4     6
 5     6
 8     4
 Name: iti_TR, dtype: int64,
 4     9
 3     9
 5     7
 6     5
 8     4
 7     3
 10    1
 9     1
 Name: iti_TR, dtype: int64,
 4    10
 5     9
 3     7
 7     5
 8     4
 6     3
 9     1
 Name: iti_TR, dtype: int64]